p {
    font-family: 'Open Sans', sans-serif;
    }
    nav {
      height: 50px;
      background-color: #3d3d3d;
    }
    .inline-block {
      padding: 15px;
      display: inline-block;
      border: 1px solid black;
      margin-right: 10px;
    }
    .left {
      float: left;
      height: 100vh;
      background-color: lightblue;
      width: 30%;
      text-align: center;
    }
    .right {
      float: left;
      background-color: #d6ad90;
      height: 100vh;
      width: 70%;
      text-align: center;
      
    }
    
    .card {
      display: inline-block;
      background-color: #C6C6C6;
      border-radius: 5px;
      height: 200px;
      width: 150px;
      margin: 35px;
      margin-top: 50px;
    }
    .profile-picture {
      background-color:darkgoldenrod;
      padding-bottom: 3px;
    }
    .content {
      border: 1px solid black;
      width: 750px;
      margin-left: 15%;
    }
    .contentImage {
      width: 250px;
      height: 250px;
      float: left;
    }
    .imageBox {
      width: 750px;
      margin-left: 15%;
    }
    
    a:visited {
      color: #ffffff
    }
    